body {
    margin: 0;
    font-family: 'Baumans', cursive;
    color: white;
}

.container {
    margin: 0px 70px;
}

.header {
    background-image: url(./image/SCP_Foundation_Logo_v3.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.textlogo {
    display: flex;
    color: #CF2323;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.2s linear;
}

.textlogo:hover {
    color: #ffffff;
}

.header-line {
    width: 100%;
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mainmenuitem {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    margin-right: 25px;
    transition: color 0.2s linear;
}


.mainmenuitem:hover {
    color: #ce0000;
}

.line1 {
    padding-right: 20px;
    height: 50px;
}


.gma {
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.2s linear;
}

.gma:hover {
    color: #ce0000;
}

.gmail-text {
    font-size: 20px;
    font-weight: 400;
    color: white;
}


.gmail-holder {
    margin: 0 10px;
}

.gmail-item { 
    margin: 0px 10px;
    color: white;
  }

#gi1 {
    font-size: 32px;
}


#gi2 {
    padding-left: 3vh;
}

#gi3 {
    padding-left: 3vh;
}

.button {
    font-size: 44px;
    background-color: #00E1E1;
    color: white;
    text-decoration: none;
    padding: 8px 50px;
    border-radius: 38px;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #00a0a0;
}

.header-down {
    position: relative;
}

.header-title {
    color: white;
    font-size: 60px;
    font-weight: 400;
    text-align: center;

    margin-top: 670px;
}

.header-title span{
    color: orange
}

.btnht {
    font-size: 30px;
    background-color: #00E1E1;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 38px;
    transition: background-color 0.2s linear;
}

.btnht:hover {
    background-color: #00a0a0;
}

.header-suptitle {
    color: white;
    font-size: 30px;
}

.header-suptitle::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: white;
    top: 107px;
    left: 985px;
}

.header-suptitle::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: white;
    top: 107px;
    left: 719px;
}

.cards-holder {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.card {
    background-color: white;
    width: 349px;
    height: 330px;
    box-shadow: 4px 7px 5px 5px rgb(167, 167, 167);
    margin-right: 31px;
    padding: 0px 10px;
}

.card-image {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.cart-title {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 15px;
}

.card-desc {
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.history{
    margin-top: 166px;
    margin-left: 50px;
    padding-bottom: 200px;
}

.history-title span{
    color: orange;
}

.history-title {
    color: white;
    font-size: 48px;
    width: 1066px;
    text-align: center;
}

.line2{
    display: flex;
    margin-top: 19px;
}

.history-desc{
    color: white;
    font-size: 25px;
    width: 1066px;
    text-align: center;
    margin-top: 30px;
}

.number-item span{
    color: orange;
}


.history-number{
    display: flex;
    width: 1066px;
    justify-content: center;
}

.number-item{
    color: white;
    margin-right: 30px;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.number-item span{
    display: block;
}

.history-holder{
    display: flex;
}

.history-images{
    position: relative;
    margin-top: 50px;
}

.image-1{
    position: absolute;
    z-index: 999;
    top: -32px;
    left: -95px;
}

.image-2{
    position: absolute;
    z-index: 0;
    top: -32px;
    left: -95px;
}




.black-block {
    background-image: url(./image/bgdelta.png);
    padding: 80px 0;
    width: 1900px;
    height: 640px;
    background-repeat: no-repeat;
}

.left-title {
    font-size: 52px;
    color: orange;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-top: 25px;
}

.left-title span {
    color: rgb(27, 214, 214);
}

.left-text {
    margin-left: 170px;
    font-size: 24px;
}

.right-btn {
    font-size: 20px;
    background-color: #00E1E1;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 300px;
    border-radius: 38px;
    transition: background-color 0.2s linear;
}

.right-btn:hover {
    background-color: #00a0a0;
}

.block-holder {
    display: flex;
    justify-content: center;
    align-items: center;

}

.dishes-title {
    font-size: 54px;
    text-align: center;
    padding-top: 132px;
    margin-bottom: 20px;
}

.dishes-title a {
    font-size: 20px;
}

.dishes-title span {
    color: orange;
}


.donats {
    display: flex;
    justify-content: center;
}

.donate-item {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.delta-image {
    margin-right: 20px;
}

.donate-text {
    font-size: 24px;
    margin-left: 20px;
}

.menu {
    padding-bottom: 100px;
}

.donat-title {
    font-size: 54px;
    padding-top: 98px;
    text-align: center;
    padding-bottom: 138px;
}

.donat-text {
    color: black;
    font-size: 26px;
    padding-top: 16px;
    padding-bottom: 17px;
}

.donat-subtext {
    color: black;
    font-size: 17px;
}

.donat-item {
    background-color: white;
    text-align: center;
    width: 20%;
    padding-top: 88px;
    padding-bottom: 30px;
    margin-right: 20px;
}

.donat-btn {
    background-color: orange;
    text-decoration: none;
    padding: 14px 67px;
    font-size: 16px;
    border-radius: 20px;
    color: white;
    box-shadow: 5px 5px 10px 0px #00000040;
}

.donat-button {
    margin-top: 20px;
}

.price-image {
    position: absolute;
    bottom: 0;
    right: 32px;
}

.donat-image {
    position: relative;
}

.price-60 {
    position: absolute;
    bottom: 30px;
    right: 64px;
    font-size: 30px;
}

.price-100 {
    position: absolute;
    bottom: 30px;
    right: 59px;
    font-size: 30px;
}

.price-250 {
    position: absolute;
    bottom: 30px;
    right: 57px;
    font-size: 30px;
}

.donat-items {
    display: flex;
    justify-content: center;
}

.recomended {
    font-size: 20px;
    padding: 5px 10px;
    color: black;
    background-color: orange;
    position: absolute;
    top: -88px;
    right: 193px;
}

.coment-img {
    border-radius: 200px;
}

.coment {
    background-color: rgb(27, 27, 27);
    padding-top: 104px;
    padding-bottom: 139px;
}

.coment-text {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 20px;
}

.coment-image {
    text-align: center;
}

.coment-type {
    font-size: 20px;
    text-align: center;
    margin-bottom: 9px;
}

.coment-name {
    text-align: center;
    font-size: 18px;
}

.admins-title {
    font-size: 54px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.admins-title span {
    color: orange;
}

.admins-content{
    display: flex;
    justify-content: space-around;
}

.urls {
    margin-top: 100px;
    padding-left: 20px;
}

.urls2 {
    margin-top: 20px;
    padding-left: 20px;
}

.urlstext {
    text-decoration: none;
    color: white;
}

.urlstext2 {
    text-decoration: none;
    color: white;
}

.donat-menu {
    display: none;
}


.block {
    display: block;
}


.donat-slide {
    position: absolute;
    display: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

@media (max-width: 1300px) {

    .mainmenuitem {
        font-size: 20px;
    }

    .button {
        font-size: 20px;
    }

    .textlogo {
        font-size: 20px;
    }

    .cards-holder {
        width: 100%;
        margin-top: 120px;
        justify-content: center;
    }

    .mainmenuitem {
        font-size: 15px;
    }

    .donat-items {
        display: block;
    }

    .donat-item {
        margin: 20px auto;
        width: 600px;
    }

    .recomended {
        top: -88px;
        right: 440px;
    }

    .header-suptitle::before,
    .header-suptitle::after {
        content: none;
    }

    .admins-content {
        display: block;
    }
    
    .admins-content img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 38px;
    }

    .block-holder{
        display: block;
    }

    .black-block {
        width: 100%;
        height: 100%;
    }

    .left-title,
    .left-text,
    .right-button {
        text-align: center;
    }


    .history-images{
        display: none;
    }

    .history-title,
    .history-desc,
    .history-number{
        width: auto;
    }
    
    .line2{
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 1185px) {

    .donat-menu{
        display: block;
    }

    .mainmenu,
    .gmail,
    .btn,
    .line1 {
        display: none;
    }

    .header-line {
        justify-content: space-between;
    }

    .delta-image {
        display: none;
    }

    .cards-holder {
        margin-top: 200px;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    
    .cards-holder{
        display: block;
    }

    .card {
        width: 50%;
        margin-top: 160px;
        padding-top: 1px;
        margin-left: 220px;
    }

    .left-text span {
        color: orange;
    }
}

@media (max-width: 780px) {
    .history-holder {
        display: block;
    }

    .donat-item {
        width: auto;
    }

    .recomended{
        top: -88px;
        right: 540px;
    }

    .container {
        margin: auto 40px;
    }

    .black-block{
        background-image: none;
        text-align: center;
    }
}